workflow:
  rules:
    # - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    # - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == "development"
      when: always

# job1:
#   script:
#     - echo "This job runs in merge request pipelines"

# job2:
#   script:
#     - echo "This job also runs in merge request pipelines"
stages:
  - build
  - test
  - deploy
  
default:
  image: docker:27.0.3

variables:
  DOCKER_TLS_CERTDIR: "/certs"
  MY_IMAGE: "${REGISTRY_MINHNGUYEN_ENDPOINT}/${PROJECT_NAME}/${SERVICE_NAME}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}"
  CONTAINER_TEST: "${SERVICE_NAME}_test"

build:
  stage: build
  script:
    - echo "build image, ${MY_IMAGE}"
    - echo "info, ${SERVICE_NAME}, ${REGISTRY_MINHNGUYEN_ENDPOINT}/${PROJECT_NAME}/${SERVICE_NAME}, ${REGISTRY_MINHNGUYEN_USERNAME}, ${REGISTRY_MINHNGUYEN_PASSWORD}"
    - docker login -u ${REGISTRY_MINHNGUYEN_USERNAME} -p ${REGISTRY_MINHNGUYEN_PASSWORD} ${REGISTRY_MINHNGUYEN_ENDPOINT}
    - docker build -t ${MY_IMAGE} .
    - docker push ${MY_IMAGE}

before_script:
    - apk update && apk add openssh-client bash
    
test:
  stage: test
  script:
    - echo "test"
    - echo "deploy start ..."
    - eval $(ssh-agent -s)
    - bash -c 'ssh-add <(echo "${SSH_PRIVATE_KEY}")'
    - echo "$SSH_SERVER_IP"
    - mkdir -p ~/.ssh
    - ssh-keyscan -H $SSH_SERVER_IP >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - echo "curl -f "${SERVICE_NAME}_test":3000/v1/roles/health || exit 1" 
    - >
        ssh $SSH_USER@$SSH_SERVER_IP "
          docker login -u ${REGISTRY_MINHNGUYEN_USERNAME} -p ${REGISTRY_MINHNGUYEN_PASSWORD} ${REGISTRY_MINHNGUYEN_ENDPOINT};
          cd ${FOLDER_SERVICE};
          echo ${SERVICE_NAME};
          docker pull ${MY_IMAGE};
          docker run -d --name "${SERVICE_NAME}_test" --network kfm_network --entrypoint /home/node/app/start.sh ${MY_IMAGE}
          sleep 5s;
          if ! docker exec ${SERVICE_NAME}_test /bin/sh -c \"curl -f ${SERVICE_NAME}_test:3000/v1/roles/health\"; then
            echo 'Health check failed. Stopping and removing the container...';
            docker stop ${SERVICE_NAME}_test;
            docker rm ${SERVICE_NAME}_test;
            exit 1;
          fi;
          echo 'Health check passed. Stopping and removing the container...';
          docker stop ${SERVICE_NAME}_test;
          docker rm ${SERVICE_NAME}_test;
        "

deploy:
  stage: deploy
  script:
    - echo "deploy start ..."
    - eval $(ssh-agent -s)
    - bash -c 'ssh-add <(echo "${SSH_PRIVATE_KEY}")'
    - echo "$SSH_SERVER_IP"
    - mkdir -p ~/.ssh
    - ssh-keyscan -H $SSH_SERVER_IP >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - >
      ssh $SSH_USER@$SSH_SERVER_IP "
        docker login -u ${REGISTRY_MINHNGUYEN_USERNAME} -p ${REGISTRY_MINHNGUYEN_PASSWORD} ${REGISTRY_MINHNGUYEN_ENDPOINT};
        cd ${FOLDER_SERVICE};
        echo ${SERVICE_NAME};
        docker pull ${MY_IMAGE};
        docker service update --image ${MY_IMAGE} ${SERVICE_NAME}
        if ! curl -f https://api.minhnguyen.info.vn/v1/roles; then
          echo 'Health check failed, rolling back...';
          docker service update --rollback ${SERVICE_NAME};
          exit 1;
        else
          echo 'Health check passed, deployment successful';
        fi
      "
    # docker service update --health-cmd 'curl -f http://localhost:3000/v1/roles || exit 1' --health-start-period=60s --image ${MY_IMAGE} ${SERVICE_NAME}"
    # docker stack deploy -c docker-compose.yml -d kf_stack
    # - cd /root/services
    # - ls
    # - docker login -u ${REGISTRY_MINHNGUYEN_USERNAME} -p ${REGISTRY_MINHNGUYEN_PASSWORD} ${REGISTRY_MINHNGUYEN_ENDPOINT}


#     common_script: &common_script |
#   eval $(ssh-agent -s)
#   bash -c 'ssh-add <(echo "${SSH_PRIVATE_KEY}")'
#   echo "$SSH_SERVER_IP"
#   mkdir -p ~/.ssh
#   ssh-keyscan -H $SSH_SERVER_IP >> ~/.ssh/known_hosts
#   chmod 644 ~/.ssh/known_hosts
#   ssh $SSH_USER@$SSH_SERVER_IP "
#     docker login -u ${REGISTRY_MINHNGUYEN_USERNAME} -p ${REGISTRY_MINHNGUYEN_PASSWORD} ${REGISTRY_MINHNGUYEN_ENDPOINT};
#     cd ${FOLDER_SERVICE};
#     echo ${SERVICE_NAME};
#     docker pull ${MY_IMAGE};
# "


# - *common_script

#     - >
#       ssh $SSH_USER@$SSH_SERVER_IP "
#         docker service update --image ${MY_IMAGE} ${SERVICE_NAME} --rollback
#         if ! curl -f https://api.minhnguyen.info.vn/v1/roles; then
#           echo 'Health check failed, rolling back...';
#           docker service update --rollback ${SERVICE_NAME};
#           exit 1;
#         else
#           echo 'Health check passed, deployment successful';
#         fi
#       "

#        - *common_script
#     - >
#       ssh $SSH_USER@$SSH_SERVER_IP "
#         docker run -d --name "${SERVICE_NAME}_test" --network kfm_network --entrypoint /home/node/app/start.sh ${MY_IMAGE}
#         sleep 5s;
#         if ! docker exec ${SERVICE_NAME}_test /bin/sh -c \"curl -f ${SERVICE_NAME}_test:3000/v1/roles/health\"; then
#           echo 'Health check failed. Stopping and removing the container...';
#           docker stop ${SERVICE_NAME}_test;
#           docker rm ${SERVICE_NAME}_test;
#           exit 1;
#         fi;
#         echo 'Health check passed. Stopping and removing the container...';
#         docker stop ${SERVICE_NAME}_test;
#         docker rm ${SERVICE_NAME}_test;
#       "